---
import '../styles/global.css'
import BasicPageLayout from '../layouts/BasicPageLayout.astro'
import SilverText from '../components/SilverText.astro';
import Card from '../components/Card.astro';
import {Content as AboutContent} from "../markdown/about-content.md"
---

<BasicPageLayout title="About">
    <SilverText>About</SilverText>
    <div class="card-wrapper">
       <Card>
            <div slot="desc" class="letter-wrapper">
                <AboutContent />
            </div>
        </Card> 
    </div>
    
</BasicPageLayout>

<style>
    .card-wrapper {
        width: 50%;
        margin: auto;
        margin-top: 2rem
    }

    .letter-wrapper {
        padding: 2rem;
    }
</style>
