---
import HomeBody from "../components/HomeBody.astro";
import HeroBackground from "../components/hero/HeroBackground.astro";
import HeroContent from "../components/hero/HeroContent.astro";
import "@fontsource-variable/inter";
import BasicHead from "../layouts/BasicHead.astro";
---

<html lang="en">
  <BasicHead pageTitle="Cole Reardon's Portfolio" />
  <body>
    <div class="hero-wrapper">
      <HeroBackground>
        <HeroContent />
      </HeroBackground>
    </div>
    <div class="home-content">
      <HomeBody />
    </div>
    <style>
      html {
        background: radial-gradient(
          84.62% 100% at 50% -0%,
          #291154 0%,
          #0b011d 100%
        );
      }

      html body {
        margin: 0;
      }

      .hero-wrapper {
        height: 66vh;
      }

      .home-content {
        margin: 10vh 0;
      }
    </style>
  </body>
</html>
