---
import HeroBackground from '../components/hero/HeroBackground.astro'
import HeroContent from '../components/hero/HeroContent.astro'
import SilverText from '../components/SilverText.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<HeroBackground>
			<HeroContent />
		</HeroBackground>
		
	</body>
</html>

<style>
	html {
		background: #0B011D;
	}

	html body {
		margin: 0;
	}
</style>