---
import BasicPageLayout from "../layouts/BasicPageLayout.astro";
---

<BasicPageLayout title="Resume">
  <div class="resume-wrapper">
    <iframe src="/resume.pdf" class="resume-embed"></iframe>
  </div>
</BasicPageLayout>

<style>
  .resume-wrapper {
    height: 100vh;
  }

  .resume-embed {
    width: 100%;
  }
</style>
