---
import BasicPageLayout from "../layouts/BasicPageLayout.astro";
---

<BasicPageLayout title="Resume">
  <div class="resume-wrapper">
    <iframe src="/resume.pdf#zoom=FitW" width="100%" height="100%"></iframe>
  </div>
</BasicPageLayout>

<style>
  .resume-wrapper {
    height: 100vh;
  }
</style>
