---
import BodyText from "./BodyText.astro";
import SubtitleText from "./SubtitleText.astro";

interface Props {
    cardLink?: string | undefined
}

const { cardLink } = Astro.props;
---
<content-card data-cardlink={cardLink}>
    <div class:list={["card-wrapper", cardLink && "clickable"]} id="card">
        <div class="image-wrapper">
            <slot name="image" />
        </div>
        <div class="text-wrapper">
            <SubtitleText isBold={true}>
                <slot name="title" />
            </SubtitleText>
            <BodyText>
                <slot name="desc"/>
            </BodyText>
        </div>
    </div>
</card>

<script>
    class Card extends HTMLElement {
        constructor() {
            super()

            const cardLink = this.dataset.cardlink
            const card = this.querySelector("#card")

            if (cardLink) {
                card?.addEventListener('click', () => {
                    location.href = `/${cardLink}/`
                })
            }
        }
    }
    customElements.define('content-card', Card)
</script>

<style>
    .card-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 12px;
        align-items: flex-start;
        text-align: left;
        /* background-clip: padding-box;
        border: solid 1px transparent; */
        border-radius: 12px;
        position: relative;
        /* background: #0B011D; */
        /* box-sizing: border-box; */
        margin-bottom: 1.5rem;
        page-break-inside: avoid;
        border: 1px solid rgba(90, 77, 113, 1);
        overflow: hidden;
    }

    .clickable::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 26.04%, rgba(192, 102, 255, 0.20) 100%);
        transition: opacity 0.25s ease-in-out;
        z-index: -1;
        opacity: 0;
    }

    .clickable:hover::before {
        opacity: 1;
    }

    .image-wrapper {
        width: 100%;
    }

    .text-wrapper {
        margin: 0.5rem;
    }

    .bold {
        font-weight: bold;
    }
</style>