---
import { Image } from "astro:assets";
const { images } = Astro.props;
import "swiper/css";
---

<div class="swiper">
  <div class="swiper-wrapper">
    {
      images.map((image) => (
        <div class="swiper-slide">
          <Image src={image.src} alt={image.alt} class="image" quality="low" />
        </div>
      ))
    }
  </div>
</div>

<script>
  import Swiper from "swiper";
  import { Autoplay } from "swiper/modules";

  const swiper = new Swiper(".swiper", {
    modules: [Autoplay],
    autoplay: {
      delay: 5000,
      disableOnInteraction: false,
    },
    loop: true,
  });
  console.log(swiper);
</script>

<style>
  .swiper {
    overflow: hidden;
  }

  .image {
    object-fit: contain;
    width: 100%;
    height: auto;
    border-radius: 12px 12px 0 0;
  }
</style>
