<h1>
    <slot />
</h1>

<style>
    h1 {
            background: -webkit-linear-gradient(rgba(255, 255, 255, 1), rgba(143, 143, 143, 1));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-family: Inter;
            font-size: 3rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

    @media only screen and (min-width: 600px) {
        h1 {
            background: -webkit-linear-gradient(rgba(255, 255, 255, 1), rgba(143, 143, 143, 1));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-family: Inter;
            font-size: 5rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }

    @media only screen and (min-width: 992px) {
        h1 {
            background: -webkit-linear-gradient(rgba(255, 255, 255, 1), rgba(143, 143, 143, 1));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-family: Inter;
            font-size: 8rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
</style>