<div class="pill-wrapper">
  <div class="skill-name">
    <slot name="name" />
  </div>
  <div class="icon-wrapper">
    <slot name="icon" />
  </div>
</div>

<style>
  .pill-wrapper {
    border-radius: 99px;
    background: radial-gradient(
        97.14% 50% at 50% 0%,
        #6b32d4 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      radial-gradient(
        98.77% 100% at 50% 0%,
        rgba(192, 102, 255, 0) 69.27%,
        rgba(215, 102, 255, 0.19) 100%
      );
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 0.5rem;
    gap: 0.5rem;
    border: 1px solid rgba(201, 181, 237, 0.19);
  }

  .skill-name {
    color: white;
    font-family: Inter, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
  }

  .icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
