---
const title = Astro.props;
import "../styles/global.css";
import "@fontsource-variable/inter";
import BasicHead from "./BasicHead.astro";
---

<html lang="en">
  <BasicHead pageTitle={title} />
  <body>
    <slot />
  </body>
</html>
