---
const { pageTitle } = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/png" href="/favicon.png" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <meta property="og:title" content="Cole Reardon's Personal Portfolio" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="/og-image.png" />
  <meta property="og:image:width" content="3456" />
  <meta property="og:image:height" content="1940" />
  <meta property="og:url" content="https://colereardon.dev/" />

  <title>{pageTitle}</title>
</head>
